/* Reset CSS */
* {
    margin: 0px  ;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    width: auto;
    height: auto;
    font-family: 'ROG Fonts';
    line-height: .9;
    background-image: url(pics/s3.jpg);
    background-size:contain;
    padding: 100px 100px 100px;
    min-height: 100vh;
    position: relative;
    background-position: center;
    background-attachment: fixed;
}

header {        
    align-self: center;
    color: #E42217;
    background: #fff;
    padding: 10px;
    text-align: center ;
    border-radius: 56px;
    margin-bottom: 120px;
    margin-top:-50px;
    margin-left: 50px;

}
nav{
    
}
    
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    padding: 0px 15px;
}

nav ul li a {
    color: #Ff007f;
}
nav ul li a:hover {
    color: #FF6EC7;
}

.title-container h1 {
    border-radius: 1900px;
    background-color: #000;
    margin-bottom: 10px;
    font-size: 40px; 
}

.Yl{
    margin-top:25px;
}

.hero .container1{
    width: 7000px;
    height:250px;
    border-radius: 300px;
    margin-top: 150px;
    background-color: #DFC5FE;
    padding : 20px 70px;
    text-align: center;
    
}
.hero .container2{
    margin-top:200px;
    width: 500px;
    height:550px;
    border-radius: 30px;
    background-color: #DFC5FE;
    padding: 55px;
    text-align: center;
}
.hero .container3{
    margin-top:-550px;
    margin-left: 780px;
    width: 500px;
    height: 550px;
    border-radius: 30px;
    background-color: #DFC5FE;
    padding: 55px;
    text-align: center;
}

.hero .container4{
    margin-left: 750px;
    margin-top:250px;
    width: 500px;
    height:auto;
    border-radius: 30px;
    background-color: #DFC5FE;
    padding: 55px;
    text-align: center;
}

.hero h3 {
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
}

.hero p {
    font-size: 23px;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background: #F76806;
    color: #ADF802;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #DFC5FE;
}

.btn:hover {
    background: #Ffdb00;
}

footer {
    position: absolute;
    bottom: 0;
    width: 88%;
    background: #Ffdb00;
    color: solid black;
    text-align: center;
    border-radius: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
